#chart-space{
	border-left: 2px solid;
	border-bottom: 2px solid;

	margin: 2px;

}

#chart-space:hover {
  cursor: crosshair;
  }



.dataDot:hover{

	fill:red;
}

.selected{
	fill:red;
	stroke:black;
}